<% if (_.state.specifications) { %>
  <section id="product-specs" class="product-specs pt-md-5 pt-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <p class="lead">
            <a href="#specs" name="specs">#</a>
            <!-- <%= _.dictionary('productSpecifications') %> -->
            Características
          </p>
          <!-- <table class="table table-striped">
            <tbody> -->
            <div class="html-clearfix pb-md-5 pb-4">
              <ul>
              <% for (const gridId in _.state.specifications) {
                if (_.state.specifications[gridId]) {
                  %>
                  <li>
                    <strong>
                      <%= _.ecomUtils.gridTitle(gridId, _.grids) %>:
                    </strong>
                    <span>
                      <%= _.ecomUtils.specTextValue(_.state, gridId, _.grids) %>
                    </span>
                  </li>
                  <%
                }
              } %>
              </ul>
            </div>
            <!-- </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </section>
<% } %>
